<p id="notice"><%= notice %></p>

<h1>Books</h1>

<table id='data-table-ajax'>
  <thead>
    <tr>
      <th>SL</th>
      <th>Title</th>
      <th>Author</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>

  </tbody>
</table>

<br>

<%= link_to 'New Book', new_book_path %>
